@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

body {
  background-color: #151717;
}

.App {
  text-align: left;
  background-color: #151717;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 100px 300px 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  background-color: #151717;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.mana-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 9px;
}

.mana {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  margin-left: -5px;
  border-radius: 32px;
  border: 2px solid #151717;
}

.App-header h1 {
  margin-bottom: 4px;
}

.App-header h3 {
  color: gray;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 50px;
}

.title {
  font-family: "Imperial Script", cursive;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  text-decoration: none !important;
}

.deck-actions {
  position: absolute;
  top: 32px;
  right: 32px;
}

.decks {
  position: relative;
  top: 400px;
}

.decks li,
a,
a:visited {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

a:hover {
  color: white;
}

.decklist {
  margin-top: 60px;
}

.category {
  font-family: Geist Mono, monospace;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 32px;
}

.section {
  font-size: 16px;
}

/* Style for the select button */
button {
  padding: 8px 12px;
  margin-left: 12px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  font-family: geist mono, monospace;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

.decklist {
  text-align: left;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 12px 8px 12px 8px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.2s ease;
}

.card-item:hover {
  background: rgba(255, 255, 255, 0.03);
}

.card-item:hover .delete-button {
  display: inline;
}

.card-image {
  display: none;
  position: absolute;
  top: -100px;
  left: 250px;
  width: 210px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.card-item:hover .card-image {
  display: block;
  opacity: 1;
}

.card-image {
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* card delete button */
.delete-button {
  display: none;
  border-radius: 50%;
  padding: 0.5em;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  color: gray;
  position: absolute;
  right: -16px;
  margin-left: 4px;
}

.delete-button:hover {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}

.delete-button::before {
  content: " ";
  position: absolute;
  display: inline;
  background-color: gray;
  width: 1px;
  left: 6.5px;
  top: 2px;
  bottom: 2px;
  transform: rotate(45deg);
}
.delete-button::after {
  content: " ";
  position: absolute;
  display: inline;
  background-color: gray;
  height: 1px;
  top: 6.5px;
  left: 2px;
  right: 2px;
  transform: rotate(45deg);
}

.card-mana-cost {
  position: absolute;
  right: 12px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.card-mana-cost i {
  width: 16px;
  height: 16px;
  font-size: 12px;
  margin-left: 2px;
}

/*
/* CommanderSearch styles */
/* */

input[type="text"] {
  padding: 12px 16px 12px 46px;
  font-size: 14px;
}

.commander-image {
  display: none;
  position: absolute;
  top: -100px;
  left: 200px;
  width: 250px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  z-index: 10000;
}

.search-result-text {
  margin: 0px;
}

.search-result-text:hover .commander-image {
  display: block;
}

/* Base styles for the search input container */
.search-container {
  position: relative;
  top: 80px;
}

/* Styles for the input field */
.search-input {
  width: -webkit-fill-available;
  margin-bottom: 24px;
  font-family: Geist Mono, monospace;
  outline: none;
  color: white;
  background: #151717;
  border-radius: 17px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  z-index: 3000;
}

.search-input:hover {
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: rgba(44, 44, 44, 0.5);
}

/* Styles for the search icon */
.search-icon {
  position: absolute;
  left: 16px;
  transform: translateY(60%);
  color: white;
  cursor: pointer;
}

/* Active state for the search input */
.search-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(44, 44, 44, 0.5);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/* Styles for the search results */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: -webkit-fill-available;
  z-index: 1000;
}

/* Individual search result item */
.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Hover state for search result items */
.search-result-item:hover {
  background: rgba(255, 255, 255, 0.03);
}

/* Style for the select button */
.select-button {
  padding: 8px 12px;
  margin-left: 12px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  font-family: geist mono, monospace;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Hover state for the select button */
.select-button:hover {
  background-color: #666;
}
